.logo__text{
  list-style: none;
  font-weight: bold;
}

.logo__text--font-big {
  font-size: 1.5rem;
}

.logo__text--color-black {
  color:#464646;
}

.logo__text--color-blue {
  color: #2A7AE4;
}

@media screen and (min-width:280px) and (max-width:349px) {

  .logo__text{
    font-size: 10px;
  }
}

@media screen and (min-width:280px) and (max-width:767px) {


}

@media screen and (min-width:768px) and (max-width:1439px) {

}

@media screen and (min-width:1440px) {

  .logo__text{
    font-size: 1.6rem;
  }
  
  .logo__text--font-big {
    font-size: 1.6rem;
  }
}