.logo__image {
  width: 1.5rem;
  padding-right: 0.5rem;
}

.logo__image--size-big {
  width: 3rem;
}

@media screen and (min-width:280px) and (max-width:349px) {
 
  .logo__image--size-big {
    width: 2rem;
  }
}

@media screen and (min-width:350px) and (max-width:767px) {

}

@media screen and (min-width:768px) and (max-width:1439px) {

}

@media screen and (min-width:1440px) {

  .logo__image {
    width: 3rem;
  }

  .logo__image--size-big {
    width: 3.5rem;
  }

}