.banner__image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url('/assets/img/banner.jpg') no-repeat center / cover;
  width: 100%;
}

@media screen and (min-width:280px) and (max-width:767px) {
  .banner__image {
      height: 192px;
  }
}

@media screen and (min-width:768px) and (max-width:1439px) {
  .banner__image {
    height: 352px;
  }
}

@media screen and (min-width:1440px) {
  .banner__image {
    height: 352px;
  }
}
