.banner__image {
  background: url('/assets/img/banner.jpg') no-repeat center / cover;
  width: 100%;
}

.banner__container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:280px) and (max-width:767px) {
  .banner__image {
      height: calc(22vh);
  }
}

@media screen and (min-width:768px) and (max-width:1439px) {

  .banner__image {
    height: 352px;
}


}