.banner__padding {
  padding: 0 0.5rem;
}

@media screen and (min-width:280px) and (max-width:767px) {

  

}

@media screen and (min-width:768px) and (max-width:1439px) {

  .banner__padding {
    padding: 0 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

}