
@media screen and (min-width:280px) and (max-width:349px){
  
  .banner__button {
    background-color:#2A7AE4;
    color: #FFFFFFFF;
    border: none;
    position: absolute;
    top:24%;
    width: 7rem;
    height: 2.3rem;
    font-size: 0.8rem;
    font: bold;
    font-weight: 600;
    font-size: 10px;
  }

}


@media screen and (min-width:350px) and (max-width: 768px) {
  .banner__button {
    background-color:#2A7AE4;
    color: #FFFFFFFF;
    border: none;
    position: absolute;
    top:27.5%;
    width: 7.5rem;
    height: 2.8rem;
    font-size: 0.8rem;
    font: bold;
    font-weight: 600;
    font-size: 14px;
  }
}
