.details__container {
  display: flex;
}

.details__subcontainer {
  padding: 2rem;
}

.content__list--black {
  color:#464646;
}

@media screen and (min-width:280px) and (max-width:767px) {
  .details__container {
    flex-direction:column;
  }

}

@media screen and (min-width:768px) and (max-width:1439px) {
  .details__container {
    flex-direction:row;
    padding: 2rem;
  }

  .details__subcontainer {
    padding: 0 1rem;
  }

}

@media screen and (min-width:1440px) {
  .details__container {
    flex-direction:row;
    padding: 0 13%;
  }

  .details__subcontainer {
    padding: 0 0 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}