.details__image {
  width: 100vw;
  height: 16rem;
}

@media screen and (min-width:280px) and (max-width:500px) {
  .details__image {
    width: 100vw;
    height: 14vh;
  }

}

@media screen and (min-width:501px) and (max-width:767px) {
  .details__image {
    width: 100vw;
    height: 18vh;
  }

}

@media screen and (min-width:768px) and (max-width:1439px) {
  .details__image {
    width: 33vw;
    height: 9vh;
  }

}

@media screen and (min-width:1440px) {

}