.contact__button {
  background-color:#2A7AE4;
  color: #FFFFFFFF;
  border: none;
  width: 10rem;
  height: 2.8rem;
  font-size: 0.8rem;
  font: bold;
  font-weight: 600;
  font-size: 14px;
}

@media screen and (min-width:280px) and (max-width:349px) {
  .contact__button {
    font-size: 0.6rem;
  }
}

@media screen and (min-width:1440px) {
  .contact__button {
    height: 3.3rem;
  }
}