.footer__logo__container {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
}

.footer__logo__image {
  width: 3rem;
  padding-right: 0.5rem;
}

.footer__logo__text{
  list-style: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.footer__logo__title-black {
  color:#464646;
}

.footer__logo__text-blue {
  color: #2A7AE4;
}

@media screen and (min-width:280px) and (max-width:767px) {
  

}

@media screen and (min-width:768px) and (max-width:1439px) {


}