.footer__nav {
  display: flex;
  align-content: space-between;
}

.footer__nav__list {
  list-style: none;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 0;
}

.footer__nav__link {
  text-decoration: none;
  color:#464646;
}

@media screen and (min-width:280px) and (max-width:767px) {
  

}

@media screen and (min-width:768px) and (max-width:1439px) {

  .footer__nav__list {
    text-align:left;
    padding: 1rem 0;
  }

  .footer__nav__container {
    display:flex;
    flex-direction: column;
  }

  .footer__contact {
    padding-bottom: 15%;
  }

}