.form__contact__title {
  padding: 1rem 0;
}

.form__name__container {
  background-color: #FFFFFFFF;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border-bottom: #464646;
}

.form__message__container {
  padding: 1rem 0;
}

.form__name__label {
  color:gray;
  font-size: 13px;
  padding-left: 0.7rem;
  padding-top: 0.7rem;
}

.form__name {
  border: none;
  box-sizing: border-box;
  height: 2rem;
  padding: 0 1rem;
  width: 100%;
}

.form__message {
  border: none;
  padding:0.5rem;
  height: 4rem;
  width: 90vw;
}

.form__line{
  color:  #C8C8C8;
  width: 100%;
  margin: 0;
}

.form__button {
  background-color:#2A7AE4;
  color: #FFFFFFFF;
  border: none;
  width: 10rem;
  height: 2.8rem;
  font-size: 0.8rem;
  font: bold;
  font-weight: 600;
  font-size: 14px;
}

@media screen and (min-width:280px) and (max-width:767px) {
  

}

@media screen and (min-width:768px) and (max-width:1439px) {

  .form__name {
    max-width: 60vw;
  }
  
  .form__message {
    width: 60vw;
  }

  .form__contact__title {
    padding: 0 0 1rem 0;
  }

 
}