.name__form {
  border: none;
  box-sizing: border-box;
  height: 2rem;
  padding: 0 1rem;
  width: 100%;
}

@media screen and (min-width:768px) and (max-width:1439px) {

  .name__form {
    max-width: 55vw;
  } 
}