.content__body {
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 2rem;
  width: calc(50% - 1rem);
}

.content__card {
  max-height: 18rem;
} 

.content__image {
  width: 10rem;
  height: 10rem;
}

.content__details {
  text-decoration: none;
  list-style: none;
}

.content__title {
  font-size: 16px;
}

.content__price{
  font-weight: bold;
  padding: 0.5rem 0;
}

.content__button {
  background-color: #FFFFFFFF;
  border: none;
  color:#2A7AE4;
  font-weight: bold;
  font-size: 16px;
}
