.content__button {
  background-color: #FFFFFFFF;
  border: none;
  color:#2A7AE4;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

@media screen and (min-width:280px) and (max-width:349px) {
  
  .content__button{
    font-size: 0.8rem;
  }
}

@media screen and (min-width:350px) and (max-width:767px) {
  
}

@media screen and (min-width:768px) and (max-width:1439px) {


}
