.content__body {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

@media screen and (min-width:280px) and (max-width:767px) {
  
  .content__body {
    flex-wrap: wrap;
  }

}

@media screen and (min-width:768px) and (max-width:1439px) {
  .content__body {
    justify-content: space-evenly;
  }
}

@media screen and (min-width:1440px) {
  .content__body {
    flex-wrap: wrap;
  }
}
