.content__image {
  width: 100%;
  height: 60%;
}

.content__image--contrast {
  filter:brightness(80%);
  z-index: 0;
}


@media screen and (min-width:280px) and (max-width:349px) {
  
  .content__image {
    min-height: 110px;
  }

}

@media screen and (min-width:350px) and (max-width:767px) {
  


}

@media screen and (min-width:768px) and (max-width:1439px) {

 

}