.content__body {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

@media screen and (min-width:280px) and (max-width:767px) {
  
  .content__body {
    flex-wrap: wrap;
    padding: 0 1rem;
  }

}

@media screen and (min-width:768px) and (max-width:1439px) {


}
