

.content__card-desktop {
  display:none;
} 

@media screen and (min-width:1440px) and (max-width:1902px) {
  .content__card-desktop {
    display:block;
  } 
}

@media screen and (min-width:1903px) {
  .content__card-desktop {
    display:block;
  } 

  .content__card {
    width: 11vw;
  }
}