.credentials__form {
  border: none;
  box-sizing: border-box;
  width:15rem;
  height: 3;
  padding: 0.5rem;
}

@media screen and (min-width:1440px) {
  .credentials__form {
    width: 26.43rem;
    height: 4rem;
  }
}